.env
*.env
.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml

# OS
.DS_Store
Thumbs.db

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
dbt_internal_packages/

snowflake_private_key.pem
snowflake_public_key.pem
